.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 900px;
  background-color: rgba(97, 97, 97, 0.411);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  outline: none;
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

